<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gitpub</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>At foo bar</h1>
  <h2><%= drink.name %></h2>
  <img src="<%= drink.image %>" alt="<%= drink.name %>">
  <h3>Price: <%= drink.price %></h3>
  <a href="/drinks">Back</a>
</body>
</html>